/*Por que elegir finbee*/

.wrapperElegir {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(244,244,244);
  }

.oneM {
  /*color: #FF8C00;*/
  /*grid-column: 1/8;
  grid-row: 1;*/
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
  
.card {
  border: 2px solid #363636;
  background: #ffffff;
}
  
.image-flip:hover .backside,
.image-flip:hover .backside{
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}
  
.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
  
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
  
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 15%;
}
  
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
  
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
  
.frontside .card,
.backside .card {
    min-height: 312px;
}
  
.backside .card a {
    font-size: 18px;
    color: #FF7823 !important; /*#007B5E*/
}
  
.frontside .card .card-title,
.backside .card .card-title {
    color: #0078B3 !important; /*#007B5E #FF7823*/
}
  
.frontside .card .card-body .imggeneral {
    width: 50%;
    height: 50%;
    border-radius: 10%;
}
  
.margin-width {
  width: 300px !important;
}
  
.card-text {
  color: #363636;
}
  
.imgmas {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  margin-right: 10px;
}
  
.margen {
  margin-top: 0px;
  margin-bottom: 25px;
}
  
p.seccion-title {
  color: #0078B3;/*#00ACFF;*/
  font-size: 40px;
}
  
.row {
  padding-right: 0;
}